.search-form{
	padding-left:40px;
}

.slider{
	margin-bottom:50px;
	min-height:350px;
	background-color: #BDC3C7;
}

/**********用户******************/
.showcase{
	min-height:350px;
	background-color: #BDC3C7;	
}

.setting-main{
	padding: 25px 0 50px;
}
#content{
	margin-top:20px;
	min-height:400px;
}
.footer {
    color: #777;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
    margin-top: 70px;
}