# Virtual Tour with Multi-Resolution Panos
# Skin with Scrolling-Thumbnails, Bingmaps, Gyroscope, VR-Support
# Documentation: http://krpano.com/tools/kmakemultires/config?version=119
# krpano 1.19


# basic settings
include basicsettings.config

# 图片类型 2:1的球形图 1:1的立体图 autodetect自动识别
panotype=autodetect
# 设置图片水平方向的可视范围
hfov=360
# true表示为待处理的图片生成一个xml文件 每个图片对应xml文件中一个scene节点 false表示为每个图片生成一个xml文件
makescenes=true


# output 输出格式 true生成 false不生成
flash=true
html5=true


# convert spherical/cylindrical to cubical
# 将球形图转成立体图
converttocube=true
# 角度范围大于360x45才转
converttocubelimit=360x45


# 多分辨率设置
# true支持多分辨率
multires=true
# 多分辨率图像大小 可设置为auto 数值大小影响加载速度和渲染的质量 推荐为512
tilesize=512
# auto自动计算多分辨率的级别 取决于原图大小以及maxsize，minsize的值
levels=auto
# 分辨率级别减少的倍率 2代表2倍 即10000x5000, 5000x2500, 2500x1250以此类推
levelstep=2
# auto最大为原图分辨率
maxsize=auto
maxcubesize=auto


# 生成图片路径设置 /uid/pid/imgs/

tilepath=%INPUTPATH%/%BASENAME%/imgs/[c/]l%Al/%Av/l%Al[_c]_%Av_%Ah.jpg


# 预览设置
preview=true
graypreview=false
previewsmooth=25
previewpath=%INPUTPATH%/%BASENAME%/imgs/preview.jpg


# 生成缩略图
makethumb=true
thumbsize=240
thumbpath=%INPUTPATH%/%BASENAME%/imgs/thumb.jpg


# 生成xml
xml=true
xmlpath=%INPUTPATH%/%BASENAME%/tour.xml


# 生成html
html=false
htmlpath=%INPUTPATH%/%BASENAME%/tour.html
htmltemplate_html5=prefer


# skin / xml template
include vtourskin119.skin


# include vtour editor
xmltemplate_additional_file=xml/plugins/vtoureditor.swf
htmltemplate_additional_file=html/tour_editor.html
